<div class="cotainer-fluid g-0">
  <app-header></app-header> 

  <!-- main -->
  <main class="blank">
    <div class="toolbar">

      <div class="add-name ">
        <button type="button" class="btn btn-outline-success btn-lg"data-bs-toggle="modal" 
        data-bs-target="#exampleModal" #addNameButton>Add Name</button>
      </div>
      <div class="search-name">
        <input type="search" class="form-control" placeholder="Search Employee"
        (input)="searchName(searchInput.value)" #searchInput>
      </div>
    </div>
    <div class="name">
      <div class="row mt-5" *ngIf="name.length==0">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are no names now!</span>
        </div>

      </div>

      <!-- area to display names -->
      <div class="row mt-4" *ngFor="let name of nameToDisplay; let ei = index;">
        <div class="col">
          <app-name [name]="name" (onRemoveName)="removeName($event)" (onEditEmployee)="editName($event)"></app-name>
        </div>
      </div>

    </div>
  </main>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter First & Last Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="nameForm">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name" formControlName="firstname">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addName()">Insert</button>
      </div>
    </div>
  </div>
</div>

